$green: rgb(98, 212, 149);
$blue: rgb(62, 170, 242);


@mixin linearGradient($from, $to) {
    background: linear-gradient(to left, $from, $to);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    @include linearGradient($green, $blue);
}

