@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

$fb_blue: rgb(48, 94, 187);
$google_red: rgb(221, 81, 89); 
$green: rgb(98, 212, 149);
$grey: rgb(122, 128, 138);

@mixin smallSizedBtn {
    @media (max-width: 420px) {
        @content;
    }
}

@mixin borderImage($from, $to) {
    border-image:  linear-gradient($from, $to)90;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../res/background-screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Mulish', sans-serif;

    #main-ctnr {
        border: 40px solid;
    }  
}

#form-ctnr {
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        width: 320px;
        display: flex;
        flex-direction: column;
        color: $grey;

        h2 {
            font-size: 21px;
            color: $green;
            text-align: center;
            display: inline;
        }

        p {
            position: relative;
        
            i {
                position: absolute;
                bottom: 15px;
                left: 10px;
            }
        }

        button, input {
            border: none;
        }

        button {
            border-radius: 3px;
            margin-bottom: 15px;
            padding: 15px;
            font-size: 12px;
            color: white;
            @include smallSizedBtn {
                width: 220px;
                margin: 0 auto 15px auto;
            }
        }

        input {
            width: 85%;
            padding: 0 0 0 15%;
            height: 40px;
            background-color: transparent;
            border-bottom: 1px solid $grey;
            &:focus {
                border-bottom: solid 3px $fb_blue;
                outline: none;
                transition: border-bottom-width 0.4s linear;
            }
        }

        a {
            color: $grey;
        }

        .submit-btn {
            color: $grey;
            background-color: $green;
        }
    }
}

p.or {
    text-align: center;
}

